<div ng-controller="authCtrl as auth">
    <div class="flex-container flex-vertical login-container" ng-show="!auth.isAuthenticated">
        <h1 class="flex-item textCenter">Welcome</h1>
        <button class="flex-item login" type="button">Explore album</button>
    </div>

    <div class="flex-container flex-vertical" ng-show="auth.isAuthenticated">
        <h1 class="flex-item textCenter">My Photos</h1>
        <h6 class="flex-item textCenter">Discover yourself, powered by Instagram</h6>
        <photo-album token="{{auth.token}}"></photo-album>
    </div>
</div>