<div ng-controller="photoCtrl as photos" class="flex-container flex-vertical">
    <h1 class="flex-item textCenter">Photos Page</h1>
    <tag-history class="flex-container flex-horizontal flex-item"></tag-history>
    <div class="flex-container flex-horizontal flex-item">
        <span class="flex-item">tag:</span>
        <input class="flex-item" type="text" ng-model="photos.tag" />
        <button class="flex-item" type="button" id="findByTag" ng-click="photos.addTagToHistory()">Find Photos</button>
    </div>
    <div class="flex-container flex-horizontal flex-item image-container">
        <div class="image-wrapper flex-container" ng-repeat="picture in photos.data">
            <img class="flex-item" ng-src="{{picture.images.standard_resolution.url}}" />
        </div>
    </div>
</div>