<div ng-controller="photoCtrl as photos" class="flex-container flex-vertical">
    <h1 class="flex-item textCenter">My Photos</h1>
    <h6 class="flex-item textCenter">Discover yourself, powered by Instagram</h6>
    <tag-history class="flex-container flex-horizontal flex-item tag-container"></tag-history>
    <div class="flex-container flex-horizontal flex-item search-container">
        <span class="flex-item">Tag:</span>
        <input class="flex-item" type="text" ng-model="photos.tag" placeholder="Search by tag name" />
        <button class="flex-item" type="button" id="findByTag" ng-click="photos.addTagToHistory()">Find Photos</button>
    </div>
    <div class="flex-container flex-horizontal flex-item image-container">
        <div class="image-wrapper flex-container" ng-repeat="picture in photos.data">
            <img class="flex-item" ng-src="{{picture.images.standard_resolution.url}}" />
        </div>
    </div>
</div>